* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: 0 auto;
}

.chatList {
  height: 50vh;
  background-color: cornsilk;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  margin-top: 72px;
  
}
.chatList > div {
  height: 50vh;
  overflow: auto;
  padding: 10px;
}



.singleMessage {
  background-color: white;
  padding: 8px;
  min-width: 1vw;
  max-width: 96%;
  overflow-wrap: break-word;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 6px;
  
  
}
.singleMessage > div {
  display: flex;
  flex-direction: column;
}

.input {
  border: solid 1px #ddd;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}